<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}">Name</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}"></p>
<br/>
<hr/>
<div th:object="${books}" th:if="${books.isEmpty()}">
    <p>This person didn't take any books</p>
</div>
<b th:if="${not books.isEmpty()}">Books:</b>
<div th:each="book : ${books}" th:if="${not books.isEmpty()}" >
    <p th:text="${book.getName() + ', ' + book.getAuther() + ', ' + book.getYear()}"></p>
</div>
<br/>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/editPerson(id=${person.getPersonId()})}">
    <input type="submit" value="Edit person">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete Person">
</form>
</body>
</html>