<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
  <label for="name">Enter book name: </label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <label for="auther">Enter auther: </label>
  <input type="text" th:field="*{auther}" id="auther">
  <div style="color: red" th:if="${#fields.hasErrors('auther')}" th:errors="*{auther}">Auther error</div>
  <br/>
  <label for="year">Enter year: </label>
  <input type="text" th:field="*{year}" id="year">
  <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
  <br/>
  <input type="submit" value="Update book" />
</form>
</body>
</html>