<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuther() + ', ' + book.getYear()}"></p>
<br/>
<hr/>
<a>Tyt bydet chtoto</a>
<br/>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/editBook(id=${book.getBookId()})}">
    <input type="submit" value="Edit book">
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete Book">
</form>
</body>
</html>