<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}">Name</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}"></p>
<div th:object="${books}" th:if="${books.isEmpty()}">
    <hr/>
    <p>This person didn't take any books</p>
    <hr/>
</div>

<div th:if="${not books.isEmpty()}">
    <hr/>
    <b>Books:</b> <br/>
    <table>
        <tbody>
        <tr th:each="book : ${books}"
            th:style="${book.isOverdue() ? 'color: red;' : 'color: black;'}">
            <td th:text="${book.getName() + ', ' + book.getAuther() + ', ' + book.getYear()}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>


<form th:method="GET" th:action="@{/people/{id}/editPerson(id=${person.getPersonId()})}">
    <input type="submit" value="Edit person">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete Person">
</form>
</body>
</html>